<a href="https://colab.research.google.com/github/24BCH111E3/python24bch111/blob/main/myworkpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.) Add two numbers.

In [ ]:
a=4
b=99
c=a+b
print(c)

103

2.)subtract two numbers.

In [ ]:
a=99
b=48
c=a-b
print(c)

51

3.)multiply two numbers.

In [ ]:
a=99
b=38
c=a*b
print(c)

3762

4.)divide two numbers.

In [ ]:
a=40
b=35
c=a/b
print(c)

1.1428571428571428

5.)add,multiply,subtract and divide two numbers.

In [ ]:
a=96
b=69
c=a+b
d=a-b
e=a*b
f=a/b
print(c,d,e,f)

165 27 6624 1.391304347826087

6.)Convert hours into minutes.

In [ ]:
hours=40
minutes=hours*60
print(minutes)

2400

7.)Convert minutes into hours.

In [ ]:
minutes=4800
hours=minutes/60
print(hours)

80.0

8.)Convert dollars into Rs. Where 1 $ = 48 Rs.

In [ ]:
dollar=9999
rs=dollar*48
print(rs)

479952

9.)Convert Rs. into dollars where 1 $ = 48 Rs.

In [ ]:
rs=9999999
dollar=rs/48
print(dollar)

208333.3125

10.) Convert dollars into pound where 1 $ = 48 Rs. And 1 pound = 70 Rs.

In [ ]:
dollar=8888
rs=dollar*48
pound=rs/70
print(pound)

6094.628571428571

11.) Convert grams into kg.

In [ ]:
grams=99000
kg=grams/1000
print(kg)

99.0

12.) Convert kgs into grams.

In [ ]:
kgs=8899
grams=kgs*1000
print(grams)

8899000

13.) Convert bytes into KB, MB and GB.

In [ ]:
bytes=898989
kb=bytes/1024
mb=kb/1024
gb=mb/1024
print(kb,mb,gb)

877.9189453125 0.8573427200317383 0.0008372487500309944

14.) Convert celcius into Fahrenheit. F = (9/5 * C) + 32

In [ ]:
celcius=99
fahrenheit=(9/5*celcius)+32
print(fahrenheit)

210.20000000000002

15.) Convert Fahrenheit into celcius. C = 5/9 * (F – 32)

In [ ]:
fahrenheit=999
celcius=5/9*(fahrenheit-32)
print(celcius)

537.2222222222223

16.) Calculate interest where I = PRN/100.

In [ ]:
p=100000
r=1000
n=1
i=p*r*n/100
print(i)

1000000.0

17.) Calculate area & perimeter of a square. A = L^2, P = 4L

In [ ]:
l=96
a=l**2
p=4*l
print(a,p)

9216 384

18.) Calculate area & perimeter of a rectangle. A = L*B, P = 2 (L+B)

In [ ]:
l=92
b=89
a=l*b
p=2*(l+b)
print(a,p)

8188 362

19.) Calculate area of a circle. A = 22/7 * R * R

In [ ]:
r=72
a=22/7*r*r
print(a)

16292.571428571428

20.) Calculate area of a triangle. A = H*L/2

In [ ]:
h=85
l=49
a=h*l/2
print(a)

2082.5

21.) Calculate net salary where net salary = gross salary + allowance – deduction. Allowances are
10% while deductions are 3% of gross salary.

In [ ]:
gs=999999
a=gs*10/100
d=gs*3/100
ns=gs+a-d
print(ns)

1069998.93

22.) Calculate net sales where net sales = gross sales – 10% discount of gross sales.

In [ ]:
gs=999999
d=gs*10/100
ns=gs-d
print(ns)

899999.1

23.) Calculate average of three subjects along with their total.

In [ ]:
maths=98
chemistry=99
physics=97
total=maths+chemistry+physics
average=total/3
print(total,average)

294 98.0

24.) Swap two values.

In [ ]:
v1=9988
v2=8899
temp=v1
v1=v2
v2=temp
print(v1,v2)

8899 9988

*****If-else conditionals.*****

1.)Print largest and smallest values out of two.

In [ ]:
num1= 32
num2 = 54
if (num1>num2):
 print("Num1 is largest values")
else:
 print("num1 is smallest")
if(num2>num1):
 print("num2 is largest values")
else:
 print("num2 is smallest")

num1 is smallest
num2 is largest values

2.) Print largest and smallest values out of three.

In [ ]:
num1 = 45
num2 = 46
num3 = 89
if(num1>num2 and num1 >num3):
 print("num1 is largest values")
else:
 print("num1 is smallest")
if(num2>num3 and num2>num1):
 print("num2 is largest values")
else:
 print("num2 is smallest")
if(num3>num1 and num3>num2):
 print("num3 is largest")
else:
 print("num3 is smallest")

num1 is smallest
num2 is smallest
num3 is largest

3.) Check whether a given number is odd or even

In [ ]:
num = 3
if(num%2==0):
 print("Even")
else:
 print("odd")

odd

4.) Check whether a given number is divisible by 10 or not.

In [ ]:
num = 45
if(num%10==0):
 print("it is divisiable by 10")
else:
 print("not it is not divisiable by 10")

not it is not divisiable by 10

5.) Accept age of a person. If age is less than 18, print minor otherwise Major.

In [ ]:
age = int(input("Enter the age of person:"))
if(age<18):
 print("minor")
else:
 print("major")

Enter the age of person:18
major

6.) Accept a number from the user. And print number of digits in it.

In [ ]:
num = input("Enter the numbers:")
print(len(num))

Enter the numbers:18
2

7.) Accept a year value from the user. Check whether it is a leap year or not.

In [ ]:
year = int(input("Enter the year:"))
if( year % 4 == 0 and ( year % 400 == 0 or year % 100 != 0 )):
 print("it is a leap year")
else:
 print("it is not leap year")

Enter the year:2007
it is not leap year

8.) Check whether a triangle is valid or not, when the three angles of the triangle are entered
through the keyboard. A triangle is valid if te sum of all the three angles is equal to 180 degrees.

In [ ]:
side1 = int(input("Enter the 1st side:"))
side2 = int(input("Enter the 2nd side:"))
side3 = int(input("Enter the 3rd side:"))
if(side1 + side2 +side3 == 180):
 print("triange is valid")
else:
 print("triange is invalid")

Enter the 1st side:80
Enter the 2nd side:50
Enter the 3rd side:50
triange is valid

9.) Print absolute value of a given number.

In [ ]:
num = -9
print(abs(num))

9

10.) Given the length and breadth of a rectangle, write a program to find whether theare of the
rectangle is greater than its perimeter.

In [ ]:
len = 89
breath = 8
area = len * breath
perimeter = 2*(len + breath)
if(area > perimeter):
 print('area is greater than perimeter')
else:
 print('area is smaller than perimeter')

area is greater than perimeter

11.) Given three points (x1,y1), (x2,y2) and (x3,y3), check if all the three points fall on one straight
line

In [ ]:
x1 = 5
x2 = 8
x3 =9
y1 =3
y2 = 4
y3 =7
a = (x1*(y2-y3))+(x2*(y3-y1))+(x3*(y1-y2))
if (a == 0):
 print('all the points fall on one stright line')
else:
 print("all the points dont fall on one stright line")

all the points dont fall on one stright line

12.) Given the coordinates (x,y) of center of a circle and its radius, determine whether a point lies
inside the circle, on the circle or outside the circle. (Hint: Use sqrt( ), pow( ) )

In [ ]:
import math
circle_x = 0
circle_y = 0
radius = 5
point_x = 3
point_y = 4
distance = math.sqrt(math.pow(point_x - circle_x, 2) +
math.pow(point_y - circle_y, 2))
if distance < radius:
 print(f"The point ({point_x}, {point_y}) is inside the circle.")
elif distance == radius:
 print(f"The point ({point_x}, {point_y}) is on the circle.")
else:
 print(f"The point ({point_x}, {point_y}) is outside the circle.")

The point (3, 4) is on the circle.

13.) Convert number 0 to 19 to its equivalent words. E.g. 0  zero, 19nineteen.

In [ ]:
number = 0
number_words = [
 "zero", "one", "two", "three", "four", "five", "six", "seven",
"eight", "nine",
 "ten", "eleven", "twelve", "thirteen", "fourteen", "fifteen",
"sixteen",
 "seventeen", "eighteen", "nineteen"
]
if 0 <= number <= 19:
 print(f"The number {number} is written as'{number_words[number]}'.")
else:
 print("Number is out of range (0-19).")

The number 0 is written as'zero'.

14.) Accept marks of three subjects. Print total and average along with whether a candidate has
passed or fail. If student secures <= 39 marks in any subject, consider him as fail. Also assigned a
subject wise grade based on the following table: bold text

In [ ]:
sub1 = int(input("Enter the maths mark:"))
sub2 = int(input("Enter the chemistry mark:"))
sub3 = int(input("Enter the physics mark:"))
sum = sub1+sub2+sub3 /3
if(sub1 <= 39 or sub2 <=39 or sub3<=39):
 print("Fail")
elif(sum>= 40 and sum <=44 ):
 print("P")
elif(sum>= 45 and sum <=49 ):
 print("C")
elif(sum>= 50 and sum <=54 ):
 print("B")
elif(sum>= 55 and sum <=59 ):
 print("B+")
elif(sum>= 60 and sum <= 69 ):
 print("A")
elif(sum>= 70 and sum <= 79):
 print("A+")
elif(sum>= 80 and sum <=100 ):
 print("O")
else:
 print("good")

Enter the maths mark:88
Enter the chemistry mark:98
Enter the physics mark:78
good

loops :-

1)	Print all alphabets in upper case and in lower case.

In [ ]:
print("Upper case alphabets:")
for j in range(65, 91):  # ASCII values for A to Z
    print(chr(j), end=" ")
print()

print("Lower case alphabets:")
for j in range(97, 123):  # ASCII values for a to z
    print(chr(j), end=" ")
print()

Upper case alphabets:
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
Lower case alphabets:
a b c d e f g h i j k l m n o p q r s t u v w x y z

2)	Print a multiplication table of a given number.

In [ ]:
def print_multiplication_table(number):
    print(f"Multiplication Table for {number}:")
    for j in range(1, 11):
        print(f"{number} x {j} = {number * j}")

number = int(input("Enter a number: "))
print_multiplication_table(number)

Enter a number: 99
Multiplication Table for 99:
99 x 1 = 99
99 x 2 = 198
99 x 3 = 297
99 x 4 = 396
99 x 5 = 495
99 x 6 = 594
99 x 7 = 693
99 x 8 = 792
99 x 9 = 891
99 x 10 = 990

3)	Count no. of alphabets and no. of digits in any given string.

In [ ]:
def count_alphabets_digits(input_string):
    alphabet_count = 0
    digit_count = 0

    for char in input_string:
        if char.isalpha():
            alphabet_count += 1
        elif char.isdigit():
            digit_count += 1

    return alphabet_count, digit_count
input_string = input("Enter a string: ")
alphabets, digits = count_alphabets_digits(input_string)

print(f"Number of alphabets: {alphabets}")
print(f"Number of digits: {digits}")

Enter a string: hello guys 9696
Number of alphabets: 9
Number of digits: 4

4)	Check whether a given number is prime, is perfect, is Armstrong, is palindrome, is automorphic.

In [9]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

def is_perfect(num):
    if num <= 0:
        return False
    sum_of_divisors = 0
    for i in range(1, num):
        if num % i == 0:
            sum_of_divisors += i
    return sum_of_divisors == num

def is_armstrong(num):
    num_str = str(num)
    num_length = len(num_str)
    sum_of_powers = 0
    for digit in num_str:
        sum_of_powers += int(digit) ** num_length
    return sum_of_powers == num

def is_palindrome(num):
    num_str = str(num)
    return num_str == num_str[::-1]

def is_automorphic(num):
    num_str = str(num)
    square_str = str(num ** 2)
    return square_str.endswith(num_str)

number = int(input("Enter a number: "))

print(f"Is {number} prime? {'Yes' if is_prime(number) else 'No'}")
print(f"Is {number} perfect? {'Yes' if is_perfect(number) else 'No'}")
print(f"Is {number} Armstrong? {'Yes' if is_armstrong(number) else 'No'}")
print(f"Is {number} palindrome? {'Yes' if is_palindrome(number) else 'No'}")
print(f"Is {number} automorphic? {'Yes' if is_automorphic(number) else 'No'}")

Enter a number: 90909
Is 90909 prime? No
Is 90909 perfect? No
Is 90909 Armstrong? No
Is 90909 palindrome? Yes
Is 90909 automorphic? No

5)	Generate all Pythagorean Triplets with side length <= 30.

In [10]:
def generate_pythagorean_triplets(limit):
    triplets = []
    for a in range(1, limit + 1):
        for b in range(a, limit + 1):
            c = (a ** 2 + b ** 2) ** 0.5
            if c.is_integer() and c <= limit:
                triplets.append((a, b, int(c)))
    return triplets

limit = 30
triplets = generate_pythagorean_triplets(limit)

print(f"Pythagorean triplets with side lengths <= {limit}:")
for triplet in triplets:
    print(triplet)

Pythagorean triplets with side lengths <= 30:
(3, 4, 5)
(5, 12, 13)
(6, 8, 10)
(7, 24, 25)
(8, 15, 17)
(9, 12, 15)
(10, 24, 26)
(12, 16, 20)
(15, 20, 25)
(18, 24, 30)
(20, 21, 29)

6)	Print 24 hours of day with suitable suffixes like AM, PM, Noon and Midnight.

In [11]:
def print_24_hours_with_suffixes():
    for hour in range(0, 24):
        if hour == 0:
            print("12 Midnight")
        elif hour < 12:
            print(f"{hour} AM")
        elif hour == 12:
            print("12 Noon")
        else:
            print(f"{hour - 12} PM")

print_24_hours_with_suffixes()

12 Midnight
1 AM
2 AM
3 AM
4 AM
5 AM
6 AM
7 AM
8 AM
9 AM
10 AM
11 AM
12 Noon
1 PM
2 PM
3 PM
4 PM
5 PM
6 PM
7 PM
8 PM
9 PM
10 PM
11 PM

7)	Print nCr and nPr.

In [14]:
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

def nCr(n, r):
    return factorial(n) // (factorial(r) * factorial(n - r))

def nPr(n, r):
    return factorial(n) // factorial(n - r)
2
n = int(input("Enter the value of n: "))
r = int(input("Enter the value of r: "))

print(f"{n}C{r} = {nCr(n, r)}")
print(f"{n}P{r} = {nPr(n, r)}")

Enter the value of n: 5
Enter the value of r: 2
5C2 = 10
5P2 = 20

8)	Print factorial of a given number.

In [16]:
def factorial(num):
    result = 1
    for i in range(1, num + 1):
        result *= i
    return result

number = int(input("Enter a number: "))
print(f"The factorial of {number} is {factorial(number)}")

Enter a number: 12
The factorial of 12 is 479001600

9)	Print N natural nos. in reverse.

In [17]:
def print_natural_numbers_reverse(N):
    for i in range(N, 0, -1):
        print(i, end=" ")
    print()

N = int(input("Enter the value of N: "))
print(f"The first {N} natural numbers in reverse order are:")
print_natural_numbers_reverse(N)

Enter the value of N: 88
The first 88 natural numbers in reverse order are:
88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1